
<div class="new-cocktail">
<h1>Add a new cocktail</h1>

<%= render 'form' %> <!-- render the form built in _form.html.erb -->

<%= link_to "Back", root_path %> <!-- rails helper for a link which goes back to cocktails index page -->
</div>
