.navbar-lewagon {
  justify-content: space-between;
  background-color: red;
  opacity: 0.5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar {
  display: flex;
}
